@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Quicksand:wght@300;400;600&display=swap");

:root {
  --cardContainerBackground: #222226;
  --cardBackground: #0f0f11;
  --topRowBackground: black;
  --tagBubbles: #0f0f11;
  --clickCount: #c3073f;
  --headerBackground: black;
  --createLinkBackground: #950740;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

#root {
  display: flex;
  height: 100vh;
  background-color: var(--cardContainerBackground);
}

.App {
  display: grid;
  grid-template-areas:
    "header"
    "top"
    "bottom";
  grid-template-rows: 20% auto auto;
  grid-template-columns: auto;
  width: 100vw;
  height: 100vh;
  background-color: var(--cardContainerBackground);
}

header {
  grid-area: header;
  background-color: var(--headerBackground);
  color: white;
}

.bottom.card {
  grid-area: bottom;
  overflow: auto;
}

.top.createForm {
  grid-area: top;
  background-color: var(--createLinkBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}

.form-container {
  display: grid;
  grid-template: 0.5fr auto / auto;
  padding: 10px;
}

.form-header {
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.the-form {
  grid-row: 2 / 3;
}

input {
  margin: 7px;
  padding: 10px;
}

.cards-container {
  grid-area: bottom;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 10px;
  background-color: var(--cardContainerBackground);
}

.inner-card {
  display: grid;
  grid-template: auto auto 1fr / 4fr 1fr;
  margin: 7px;
  background-color: var(--cardBackground);
  border-radius: 4px;
  color: white;
}

.top-row-card {
  display: grid;
  grid-template: 4fr / 1fr;
  grid-column: 1/3;
  background-color: var(--topRowBackground);
  color: white;
}

.click-count-container {
  display: grid;
  grid-row: 1 / 2;
  grid-column: 2/3;
  font-family: "Fjalla One", sans-serif;
  background-color: var(--clickCount);
  padding: 5px;
  border-top-right-radius: 4px;
}

.date-container {
  grid-row: 1/2;
  grid-column: 1/2;
  padding: 5px;
  margin-left: 20px;
}

.click-count {
  font-size: large;
  text-align: center;
  font-weight: bold;
}

.click-label-bottom {
  font-size: x-small;
}

.date {
  grid-row: 1/2;
  grid-column: 1/2;
  font-family: "Fjalla One", sans-serif;
  font-size: large;
  letter-spacing: 1px;
}

.date-label-bottom {
  font-size: x-small;
}

.link-info {
  margin-left: 20px;
  margin-right: 20px;
  grid-row: 2/3;
  grid-column: 1/3;
  padding-top: 20px;
  padding-bottom: 0px;
}

.link-name {
  font-size: xx-large;
  font-weight: bold;
  padding-bottom: 5px;
}

.link {
  font-size: large;
  padding-bottom: 5px;
}

.link:hover,
.edit-btn:hover {
  color: #c3073f;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: white;
}
.comment {
  font-size: large;
  padding-bottom: 5px;
  color: lightgrey;
}

button {
  grid-row: 3 / 4;
  grid-column: 2/3;
  margin: 20px;
  background-color: #1b1b1bd7;
  color: white;
  font-family: "Fjalla One", sans-serif;
  font-size: large;
  padding: 10px;
}

button.sub-btn {
  background-color: var(--createLinkBackground);
  color: white;
  margin: 7px;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  border-radius: 2.5rem;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

.tags {
  background-color: var(--tagBubbles);
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 2.5rem;
  border-width: thin;
  border-color: #c3073f;
  border-style: solid;
  max-height: 42px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  grid-row: 3 / 4;
  grid-column: 1/3;
  padding: 10px;
}
